<div class="row">
  <ul class="md-col-4 list-group">
    {{#each achievements}}
    <li class="list-group-item"><a href="#" data-hull-action="selectAchievement" data-hull-id="{{id}}">{{name}} ({{type}})</a></li>
    {{/each}}
  </ul>
  <div class="md-col-8" data-hull-achievement-form>
  </div>
</div>